<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    
    <link rel="shortcut icon" href="img/favicon.png">

    <title> Home</title>
    <!-- js placed at the end of the document so the pages load faster -->
  <!-- jQuery library -->

 
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

 
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static', filename = 'font-awesome.css') }}" rel="stylesheet" />
   
    

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'le-responsive.css.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />
<style>
	.top-header {
    background-color: #02528a;
    border-bottom: 1px solid #DDDDDD;
    padding: 6px 0;
    height:38px!important;
    /* padding-left: 15px; */
    padding-right: 15px;
}
@media (min-width: 992px){
.container {
    max-width: 670px!important;
}



@media (max-width: 768px){
	


.top-header .header-item {
    display: inline-block;
    margin-left: 19px!important;
    margin-right: 20px;
    font-size: 14px;
    color: #FFF;
    /* padding-top: 4px; */
}}
</style>
   <script> 

   var refreshIntervalId;
$(document).ready(function() {

var obj,len,progress,routeid,direction,urllen,forward,backward,left,right,pstatus;
pstatus=0;
    $.ajaxSetup({ cache: false });
    var interval = 1000; // seconds
     console.log("pstatus1:"+pstatus);
 
      refreshIntervalId =  setInterval(ajax_call, interval); 
 


}); 

var ajax_call = function() {
      var e = document.getElementById("ddldir");
      dir_1 = e.options[e.selectedIndex].value;
      routename_1 = document.getElementById("routeid").value;
      if (routename_1!=undefined) {
        $.ajax({
            url : "/static/"+routename_1+"_"+dir_1+".txt",
            dataType: "json",
            contentType: "json",
      
      success : function (data) {
             
                  if (data=='100') {
                    $("#progress").html("Generating video");
                  }
                  else {
                    $("#progress").html(data+"% Completed.");
                  }
                  if (data=='101') {

 $("#urls").append('<a href="https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'/'+routename_1+'_'+dir_1+'_forward.mp4">https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'_forward.mp4</a><br>');
$("#urls").append('<a href="https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'/'+routename_1+'_'+dir_1+'_backward.mp4">https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'_backward.mp4</a><br>');
$("#urls").append('<a href="https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'/'+routename_1+'_'+dir_1+'_right.mp4">https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'_right.mp4</a><br>');
$("#urls").append('<a href="https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'/'+routename_1+'_'+dir_1+'_left.mp4">https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'_left.mp4</a><br>');
$("#urls").append('<a href="https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'/'+routename_1+'_'+dir_1+'.kml">https://s3-us-west-1.amazonaws.com/vta-tour-rtmp/'+routename_1+'_forward.mp4</a><br>');

                   
                  }
    
            },
            error: function(data, errorThrown)
          {
              //alert('this is else condition no file found, pass your ajax request here');
              clearInterval(refreshIntervalId); //to stop the auto refresh
          }
      });}
 };

      var dir;
      var routedirid=[];
    function getrouteinfo() {
     
     var interval =1000;
     refreshIntervalId =  setInterval(ajax_call, interval); 
 
      var e = document.getElementById("ddldir");
      dir = e.options[e.selectedIndex].value;
      routename = document.getElementById("routeid").value;
 
      
       routedirid[0]="rid";
      routedirid[1]=routename;
      routedirid[2]=dir;


      
            var stationJson = JSON.stringify(routedirid);
            var pythonUrl = "http://52.9.113.34/json"; //python url to post data 
            var sendCordinates = $.ajax({
                  type: 'POST',
                  url: pythonUrl,
                  dataType: "json",
                  data: stationJson,
                  contentType: 'application/json',
                  success: function(resultData) {  
                  console.log("done"); }
            });

      
    }

     
     
  </script> 
  </head>

  <body>
    <!--header start-->
    <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
             
                    <a class="navbar-brand" href="#"><img style="margin-top:4px; height:48px"  src="{{ url_for('static', filename = 'vtavirtualtransit-logo.jpg') }}" alt=""></a>
                </div>
                
            </div>
        </div>
    </header>
    
    <div class="top-header hidden-sm">
            <div class="container-fluid header-area">
                <div class="pull-left">

                    <div style="height:30px;" class="header-item">Choose your route</div>
      
                </div>
                <div class="pull-right  ">


                </div>
                <!-- #top-social end -->

            </div>

        </div>
    <!--header end-->


 <section class="home-services">
      <div id="pano" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index:-1;"></div>

 <div id="controls" >
    <div class="container">
      <div class="row">
      
   <form class="form-horizontal tasi-form" id="map_form" >
   
                                  <div class="form-group">
                                        <div class="col-md-4 ">
                 <div id="map" style="width: 800px; height: 415px; float: right; padding: 0;"></div>
                </div>
                                      <div class="col-lg-8">
                                     
                                       <div class="panel-body">
                                         <label class="col-lg-2 control-label">Routes</label>
                                        <input type="text" class="form-control " name="routeid" id="routeid"  placeholder="Type your route">
                                        
                                      </div>
                                      
                                       
                                       <div class="panel-body">
                                         <label class="col-lg-2 control-label">Direction</label>
                                          <select id="ddldir" class="form-control input-sm m-bot15">
                                              <option>Choose direction of the route</option>
                                              <option value="0" >West and East</option>
                                              <option value="1">North South</option>
                                          </select>
                                      </div>
                                     
                                         <div style="margin-left:auto; margin-right:auto; width:130px; padding-top:10px;">
                                        
                                          <button type="button" id="searchButton" class="btn btn-kool-default"  onclick="getrouteinfo()">Generate</button>

                                        </div>  
                           
                                  
                                  </div>
                                  
                                  
                                  
                                  </div>
                              </form>
                              
                              
                           
                             
    
      </div>  </div></div>
  <div id="progress"></div>
    <div id="urls"></div>
              

    <div id="text" style="width: 555px; height: 50px; float: left; padding-top: 10px; z-index:0; border-style:solid; border-width:medium;"></div>
        <div id="spinner" style="width: 555px; height: 50px; float: left; padding-top: 10px; z-index:0; border-style:solid; border-width:medium;">Generating video, please wait...</div>
  </div>
  </section>

   




 




  </body>
</html>
